@import url(./outfit.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;

	transition:
		background-color var(--ant-motion-duration-slow) ease-in-out,
		color var(--ant-motion-duration-slow) ease-in-out;
}

html,
body,
#root {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#root {
	height: 100vh;
	width: 100%;
	position: relative;
}

#root:has(div.formbarHeader) {
	padding-top: 60px;
}

body {
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

ion-icon {
	height: 100%;
	aspect-ratio: 1;
}

ion-icon[size="large"] {
	height: 1.5rem;
	width: 1.5rem;
}

.centered-icon-btn {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding: 0 !important;
}

.centered-icon-btn ion-icon {
	margin: 0 !important;
}

.ant-progress-circle,
.ant-progress-circle-path {
	transition-duration: 1s !important;
}

.ant-statistic-content {
	display: flex;
}

.ant-statistic-content-prefix {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.ant-progress-circle {
	overflow: visible !important;
}
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
		text-shadow: none;
	}
	50% {
		transform: translateY(-5px);
		text-shadow: 0 0 15px #1aa8d5;
	}
}

.bounce {
	display: inline-block;
	animation: bounce 1s infinite ease-in-out;
}

.bounce:nth-child(2) {
	animation-delay: 0.2s;
}
.bounce:nth-child(3) {
	animation-delay: 0.4s;
}
.bounce:nth-child(4) {
	animation-delay: 0.6s;
}
.bounce:nth-child(5) {
	animation-delay: 0.8s;
}
.bounce:nth-child(6) {
	animation-delay: 1s;
}
.bounce:nth-child(7) {
	animation-delay: 1.2s;
}

.border {
	--borderWidth: -4px;
	--borderColor: black;
	filter: drop-shadow(0px var(--borderWidth) 0px var(--borderColor))
		drop-shadow(var(--borderWidth) 0px 0px var(--borderColor))
		drop-shadow(0px calc(var(--borderWidth) * -1) 0px var(--borderColor))
		drop-shadow(calc(var(--borderWidth) * -1) 0px 0px var(--borderColor));
}
